<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Artículos</h1>
          <a href="/articulos/crear" class="btn btn-success">Nuevo</a>
        </div>
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Created at</th>
                <th>User</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for(article of articles) { %>
              <tr>
                <th><%=article.id %></th>
                <td><%=article.title %></td>
                <td>
                  <p class="words"><%=article.content %></p>
                </td>
                <td>
                  <img class="img-fluid" src="<%=article.image.includes("http")? article.image :
                  `img/${article.image}` %>" alt="" />
                </td>
                <td><%=article.createdAt %></td>
                <td><%=article.user.firstname + ' ' + article.user.lastname %></td>
                <td>
                  <a class="btn btn-primary" href="/articulos/editar/<%= article.id %>">Editar</a>

                  <form action="/articulos/<%= article.id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Eliminar</button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
